<div class="container">
  <nav *ngIf="studentsList$ | async as studentsList;">
    <ul>
      <li *ngFor="let student of studentsList" routerLinkActive="active">
        <a [routerLink]="[student.id]" >{{student.first_name + " " + student.last_name}}</a>
      </li>
    </ul>
    <div class="paginator-container">
      <div class="buttons-container">
        <button class="mat-flat-button" (click)="changePage(-1)">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <span>{{ current_page }}</span>
        <button class="mat-flat-button" (click)="changePage(1)">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </nav>
  <div class="student-details">
    <router-outlet></router-outlet>
  </div>
</div>