.student-container {
  background-color: #fff;
  max-width: inherit;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.85);
  border-radius: 5px;
}

.student-container img {
  width: auto;
  max-width: 400px;
  border-radius: 5px;
}